// Positions
$position-fixed: fixed;
$position-abs: absolute;
$position-rel: relative;
$auto-margin: 0 auto;

$top-zero: 0;

// Flexbox
$disp-flex: flex;
$column: column;

// Grid
$two-layout: repeat(2, minmax(0, 1fr));

// Display
$disp-none: none;
$disp-grid: grid;
$disp-in-bl: inline-block;
$disp-bl: block;

// Items
$align-center: center;
$space-evenly: space-evenly;

// Colors
$white: white;
$gray: gray;
$black: black;

$navbar-bg: rgba(0, 0, 0, 0.522);
$nav-text-color: rgba(255, 255, 255, 0.645);
$nav-text-color-hover: rgba(255, 255, 255, 0.808);

$contact-title: rgba(255, 255, 255, 0.833);
$contact-text-clr: rgba(255, 255, 255, 0.394);
$contact-text-clr-hover: rgb(158, 158, 158);

$small-title-clr: rgb(26 26 26 / 68%);
$big-title-clr: rgb(43, 43, 43);
$paragraph-txt-clr: rgb(35, 35, 35);

$contact-bg: rgba(169, 169, 169, 0.104);
$contact-input-bg: rgb(128, 128, 128);
$form-button-clr: rgba(255, 255, 255, 0.931);
$form-button-hover: rgb(63, 63, 63);
$form-text-clr:  rgba(255, 255, 255, 0.394);
$form-icon-clr: rgba(255, 255, 255, 0.931);
$form-icon-hover: rgb(99, 99, 99);

// Fonts
$verdana: Verdana, Geneva, Tahoma, sans-serif;
$gill: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

// Font sizes
$mid-text-size: 20px;
$icon-size: 30px;
$big-title: 40px;

// Text style
$deco-none: none;
$uppercase: uppercase;
$weight-bold: bold;

$pointer: pointer;
$small-let-sp: 1px;

// Images
$grayscale: grayscale(1);

// transitions
$button-trans: 0.5s;

// Widths
$width-100: 100%;
$width-60: 60%;
$width-40: 40%;
$width-50: 50%;

// Heights
$height-100: 100%;

// BGs
$bg-cover: cover;

// Animation properties
$linear: linear;

// Layers
$z-index-up: 999;
