@use "partials/variables" as *;
@use "partials/mixins" as *;

* {
  @include body;
}

/* HEADER******* */
.scroll-watcher {
  @include bar-height;
  @include box-width;
  position: $position-fixed;
  top: $top-zero;
  z-index: $z-index-up;
  background-color: $white;
  scale: 0 1;
  transform-origin: left;

  animation: scroll-watcher $linear;
  animation-timeline: scroll();
}

@-webkit-keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.container {
  img {
    @include box-width;
    position: $position-abs;
    inset: 0;
    object-fit: $bg-cover;
    height: $height-100;
  }
}

.navbar {
  @include box-width;
  background-color: $navbar-bg;
  position: $position-fixed;
  z-index: $z-index-up;
  display: $disp-flex;
  align-items: $align-center;

  .nav {
    @include box-width;
    text-align: $align-center;
    display: $disp-flex;
    justify-content: $space-evenly;

    a {
      color: $nav-text-color;
      text-decoration: $deco-none;
      font-family: $verdana;
      font-weight: $weight-bold;
      text-transform: $uppercase;

      padding-block: 1rem;
      font-size: 2em;

      &:hover {
        color: $nav-text-color-hover;
      }
    }
  }
}

header {
  .icon {
    position: $position-abs;
    top: 1.5rem;
    right: 2rem;
    font-size: $icon-size;
    cursor: $pointer;
    display: $disp-none;
    z-index: $z-index-up;
  }
}

.container {
  position: $position-rel;
  height: 100vh;
}

.layout {
  @include layout;

  .sidebar {
    background-color: $gray;
    @include box-width(350px);
  }
}

.info-blocks {
  display: $disp-flex;
  height: 250px;

  .box2 {
    @include box-width(40%);
    background-image: url(assets/image10.jpg);
    background-position: left;
  }

  .box3 {
    @include box-width(60%);

    article {
      @include box-width(70%);
      height: max-content;
      margin-inline-start: 2rem;
      margin-block: 2rem;
      font-family: $gill;
      position: $position-rel;

      .showroom {
        @include small-title;
      }

      .showroom-info {
        font-size: 1.1em;
        padding-block-start: 10px;
        color: lighten($color: black, $amount: 30%);
      }

      button {
        margin-block-start: 15px;
        @include button;
      }
    }
  }
}
/* /HEADER******* */

/* MAIN******* */
main {
  background-color: #e5e5e5;
}

.grid-container {
  display: $disp-grid;
  grid-template-columns: $two-layout;
  grid-template-rows: $two-layout;
  background-color: $white;
  padding-block-end: 5rem;

  .grid-box {
    overflow: hidden;
    height: 550px;

    .grid-content {
      height: 350px;

      img {
        @include box-width;
        height: $height-100;
        transition: 3s;

        &:hover {
          transform: scale(1.2);
          transition: 3s;
        }
      }
    }
  }

  article {
    background: $white;
    position: $position-rel;
    text-align: left;
    padding-inline: 2rem;
    padding-block-start: 2rem;
    font-family: $gill;

    p {
      @include small-title;
    }

    button {
      margin-block-start: 1rem;
      @include button;
      -webkit-animation: heartbeat 3s linear infinite both;
      animation: heartbeat 3s linear infinite both;
    }
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.bar {
  background-image: url(assets/black-white-exterior-building.jpg);
  background-position: center;
  background-size: cover;
  filter: $grayscale;
  @include bar-height(15px);
}

.main-article {
  @include box-width(50%);
  padding-block: 3rem;
  margin-inline-start: 15%;
  color: $big-title-clr;

  h1 {
    font-size: $big-title;
    text-transform: $uppercase;
    font-family: $verdana;
    margin-block-start: 2rem;
  }

  h2 {
    @extend h1;
  }

  p {
    font-size: 1.2em;
    font-family: $gill;
    color: $paragraph-txt-clr;
    margin-block-end: 1rem;
    padding-block: 1rem;
  }
}

.slider-container {
  max-width: 1200px;
  // width: 95%;
  justify-content: $align-center;
  margin: $auto-margin;
  font-size: 0;

  .slider-wrapper {
    position: $position-rel;

    .slide-button {
      height: 50px;
      top: 50%;
      width: 50px;
      color: rgb(89, 88, 88);
      background: $white;
      cursor: $pointer;
      border: none;
      outline: none;
      border-radius: 50%;
      position: $position-abs;
      transform: translateY(-50%);

      &:hover {
        background: rgb(22, 22, 22);
        color: white;
      }
    }

    #prev-slide {
      left: -5px;
      display: none;
    }

    #next-slide {
      right: -5px;
    }

    .image-list {
      display: $disp-grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 18px;
      overflow-x: auto;
      scrollbar-width: none;

      ::-webkit-scrollbar {
        display: none;
      }
    }

    .image-item {
      width: 325px;
      height: 400px;
      object-fit: cover;
      margin-block-end: 30px;
    }
  }
}

/* /MAIN******* */

@media (max-width: 1250px){

  .slider-wrapper {
    .slide-button#prev-slide {
      left: 10px;
    }

    .slide-button#next-slide {
      right: 10px;
    }
  }
}

@media (max-width: 1000px) {
  header {
    .icon {
      display: $disp-in-bl;
      z-index: $z-index-up;
      color: $white;
      position: $position-fixed;
    }
  }

  header {
    .navbar {
      display: $disp-none;

      .nav {
        @include box-width();
        flex-direction: $column;
      }
    }
  }

  nav.navbar.active {
    display: $disp-flex;
    @include box-width;
    height: 100%;
    transition: all $button-trans;
  }

  .main-article {
    @include box-width(85%);
    padding-block: 1rem;
    margin: $auto-margin;
  }
}

@media (max-width: 800px) {
  .info-blocks {
    display: $disp-flex;
    flex-direction: $column;
    height: 100%;

    .box2 {
      @include box-width();
      height: 250px;
    }

    .box3 {
      @include box-width();
      height: 250px;

      article {
        @include box-width(80%);
      }
    }
  }

  .layout {
    .sidebar {
      @include box-width(150px);
    }
  }

  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    overflow: hidden;
    padding-block-end: 2rem;
    

    .grid-content {
      height: 380px;
    }
  }

  .main-article {
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 35px;
    }
  }

}

@media (max-width: 529px) {
  .slider-wrapper {
    .slide-button#prev-slide {
      left: 10px;
      height: 35px;
      width: 35px;
    }

    .slide-button#next-slide {
      right: 10px;
      height: 35px;
      width: 35px;
    }
  }
}

  .grid-container {
    .grid-box {
      overflow: hidden;
      height: 500px;

      .grid-content {
        height: 300px;
      }
    }
  }


@media (max-width: 450px) {
  .main-article {
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 25px;
    }
  }
}

@media (max-width: 400px) {
  .info-blocks {
    .box3 {
      article {
        width: 280px;
      }
    }
  }

  .grid-container {
    .grid-box {
      overflow: hidden;
      height: 450px;

      .grid-content {
        height: 250px;
      }
    }
  }

  .grid-container > .grid-box {
    overflow: hidden;
    height: 450px;
  }

  .grid-content {
    height: 250px;
  }
}
